/*
css\style.css
Folhas de estilo do template do site.
*/

/*
Importa fonte Robot do Google Fonts
Referências: https://fonts.google.com
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*
Importa a biblioteca de ícones FontAwesome
Referências: https://fontawesome.com
*/
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.1/css/all.min.css');

/* Reset Geral */

* {
   box-sizing: border-box;
   outline: none;
}

/* Elementos raiz */
html,
body{
    /* Reset nas margens e enchientos */
    position: relative;
    /* Permite usar height nos elementos div */
    margin: 0;
    padding: 0;
    height: 100%;

    /* Fonte padrão e tamanho */
    font-family: "Roboto", Arial, 
}